.logoutButton
{
    padding-top: 15px;

}
.notificheButton
{
    margin-bottom: 5px;
    padding-right: 5px;
}
.elementoIconaUtente {
    margin-right: -10px;
}

.elementoLogo {
    margin-left: 20px;
}

.sfondo {
    margin-bottom: 10%;
}

.navbar {
    background: lightblue;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}



.containerStyle {
    margin-left: 0;
    display: inherit;
}

.nav-link {
    padding: -1.5rem 1rem !important;

}

.navbar-nav {
    padding-right: 5.5rem !important;
}

.navbarStyle {
    position: relative;
    z-index: 1;
    background-color: transparent;
    background: #3B579D;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0);
    align-items: center;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 64%);
}

