.elementoNav {
    width: 90px;
    margin-top: -9px;
    margin-bottom: -9px;
}

.elementoLogo {
    position: absolute;
    left: -10px;
}

.sfondo {
    margin-bottom: 10%;
}

.navbar {
    background: lightblue;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.elementoIconaUtente {
    position: absolute;
    right: -8px;
    top: 5px;
}

.containerStyle {
    margin-left: 0;
    display: inherit;
}

.nav-link {
    padding: -1.5rem 1rem !important;

}

.navbar-nav {
    padding-right: 5.5rem !important;
}

.navbarStyle {
    background-color: transparent;
    background: #3B579D;
}