.bottone{
    text-align: center;
    background-color: blueviolet;
    color: white;
    width: 30%;
    margin-bottom: 5%;
    margin-top:5%
}

.container{
    text-align: center;
}

.Form-control{
    width:10%;
    margin-bottom:5%;
}

.AreaPersonale{
    margin-top:5%;
    margin-bottom:5%;
}

.card{
    position: inherit;
}