.formContainer {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.submitButton {
    width: 30%;
    margin: auto;
    margin-top: 30px;
    display: inherit;

}

.tesserinoPosseduto {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top:10%;
    margin-bottom: 15%;
}