@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


form .form-control::-webkit-input-placeholder {
    color: #A9A9AC;
}

form .card-no::-webkit-input-placeholder {
    color: #A9A9AC;
}

.containerRicaricaTesserino
{
    text-align: left;
}

.rt-wrapper {
    background-color: #29539b;
    margin: 20px auto;
    padding: 15px 20px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 80%);
    color: white;
}

.rt-wrapper h4 {
    font-weight: 800;
    color: #888;
    color:white;
    margin-bottom: 20px;
}


.card-no {
    border: none;
    outline: none;
    width: 90%;
    padding-left: 8px
}


.card-number {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#numeroCarta
{
    padding: 0px!important;
    padding-left: 5px;
}

wrapper a {
    font-size: 12px;
    font-weight: 900;
    margin-left: 30%
}

wrapper a {
    text-decoration: none
}

.form-inline label {
    font-size: 1rem
}

.focused {
    border: 2px solid #9ab3f5
}

.containerBottoniSaldo {
    margin: auto;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.dataScadenzaInput {
    width: 80%;
}

.bottoneSaldo {
    width: 23.5%;
    margin: 2px;
    background: #1e3b70;
    border-radius: 5px;
    border: none;
}

.bottoneSaldo:hover
{
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 80%);
}

#form-footer a {
    margin: 0
}

#form-footer p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #777
}

.containerRicarica {
    display: flex;
    width: 50%;
    margin-top: 50px;
}

.pagamentoWrapper {
    height: fit-content;
}

.pagamentoWrapper .form-group{
    text-align: left;
    font-weight: 700;
    color: #c7c7c7;
    font-size: 12px;
    margin-top: 10px;
}

.pagamentoWrapper .mt-4 {
    padding-bottom: 50px;
}

.amountWrapper {
    margin-left: 30px;
    width: 40%;
    height: 50%;
}

.ricaricaButton {
    margin: auto;
    display: block;
    background: linear-gradient(
            350deg
            , #3f6fc2 0%, #1e3b70 64%);
    border: none;
    width: 50%;
    height: 45px;
    text-align: center;
    line-height: 15px;
}

.ricaricaButton:hover {
    background: linear-gradient(
            350deg
            , #3f6fc2 0%, #1e3b70 64%);
    box-shadow: 1px 1px 5px 1px rgba(227, 222, 222, 0.8);
}


.ricaricaButton:focus {
    border: none;

}

.nuovoSaldoLabel {
    margin-top: 35px;
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.nuovoSaldoAmount {
    margin-top: 35px;
    font-weight: 700;
    font-size: 35px;
    color: white;
    text-align: center;
}
@media (max-width: 1366px) {
    .containerRicarica
    {
        width: 80%;
    }

}
@media (max-width: 395px) {
    .form-inline label {
        font-size: 12px
    }

    #form-footer p {
        font-size: 11px
    }

    .card-no {
        width: 85%
    }
}