.saldoLabel {
    color: #1e3b70;
    font-weight: lighter;
}

.saldoNumberLabel {
    color: #3B579D;
    font-size: 2vw;
    margin: auto;
    width: 50%;
    text-align: center;
    font-weight: bold;
}


.containerSaldo {
    margin-top: 5%;
    margin-bottom: 10% !important;
    width: 30%;
    overflow: hidden;
    border-radius: 15px!important;
}


.buttonRicaricaTesserino {
    margin-top: 15px;
    float: right;
    background: rgb(255, 165, 0);
    border: none;
    color: #484444;

}

.buttonRicaricaTesserino:hover {
    background-color: rgba(255, 165, 0, 0.65);
    border-color: #FFA5006E;
    background-image: none;
    border: 0;
    color: black;

}

.buttonRinnovaTesserinoScaduto {
    margin-top: 15px;
    background: rgb(255, 165, 0);
    border: none;
    color: white;
}