.pp-centralContainer
{
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
}
.pp-centralContainerInner
{
   display: flex;
}
.pp-riepilogoOrdine
{
    width: 80%;
}
.pp-riepilogoOrdine h4
{
    padding: 20px;

}

.pp-pastoElement
{
    display: inline-block;
    width: 55%;
    border-style: solid;
    border-width: 1px;
    margin-left: 50px;
    border-color: lightgray;
    margin-bottom: 8px;
    border-radius: 20px;
    background: white;
}

.pp-insideBlockElement
{
    margin: 0 auto;
}
.pp-elementTitle
{

    padding: 10px;
    word-break: break-word;
    overflow: hidden;
    display: block;
    color: #282c34;
    padding-top: 15px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.pp-leftBlock
{
    display: inline-block;
    float: left;
    width: 70%;
}
.pp-rightBlock
{
    display: inline-block;
    float: right;
}

.pp-rightBlock img
{
    width: 88px;
    height: 80px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pp-pagamentoContainer
{
    width: 40%;
    margin:0 auto;
    margin-top: 20px;
    background: #F8F8F8;
    border-radius: 15px;
    box-shadow: 0 2px 8px 2px rgb(0 0 0 / 10%);
    height: fit-content;
}

.pp-pagamentoContainer h4
{
    padding: 20px;
}
.pp-pagamentoContainerInner
{
    padding: 30px;
}
.pp-pagamentoContainerInner span
{
    padding: 10px;
}
.pp-prezzoOrdineContainer
{
    text-align: center;
}

.pp-prezzoTotale
{
    font-weight: 500;
    font-size: 23px;
}

.pp-buttonPagamento
{

    font-weight: 700;
    text-decoration: none;
    padding: 10px 60px;
    min-width: 120px;
    color: #fff;
    background-color: #00a082;
    font-size: 18px;
    border-radius: 100px;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    -webkit-backdrop-filter: blur(10px);
    max-width: 340px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
}
