:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

/* Dropdown Menu */
.elementoNotifica{
    text-decoration: none;
    color: white;
}
.elementoNotifica:hover{
    text-decoration: none;
    color: white;
}

.nessunaNotifica{
    text-align: center;
}
.dropdownMenu {
    position: absolute;
    top: 80px;
    width: 280px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.menu {
    width: 100%;
}

.menu-item-notifiche {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item-notifiche .icon-button {
    margin-right: 0.5rem;
}


.menu-item-notifiche .icon-button:hover {
    filter: none;
}

.menu-item-notifiche:hover {
    background-color: #525357;
}

.icon-right {
    position: inherit;
    margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}
.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}
.menu-primary-exit {
    position: absolute;
}
.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}


.menu-secondary-enter {
    transform: translateX(110%);
}
.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}

.icon-button__badge {
    position: absolute;
    top: 30px;
    right: 135px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}