.App {
    text-align: center;
}

.primary {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.fw-bold, p {
    text-align: initial;
}

body {
    margin: 0;
}

.h1 {
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-top: -25px;
}


.buttonStyle {
    top: 5px !important;
    right: 10px;
    padding: 0px;
    margin-top: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}


.buttonStyle:hover {
    background: grey;
}

.carousel
{
    z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
